body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
}

.div1 {
    width: 300px;
    height: 877px;
    background-color: gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div2 {
    width: 450px;
    height: 877px;
    background-color: rgba(100, 130, 229, 0.79);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #fff;
}

div .name {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    font-size: 40px;
    font-family: cursive;
    color: white;
}

div p {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: white;
}

.head {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: white;
    font-size: 30px;
}

.tail {
    font-family: cursive;
    color: white;
    font-size: 24px;
}

.tail p {
    font-size: 22px;
}